## 한국음식 데이터 & 한식진흥원 음식 DB 병합

In [1]:
import pandas as pd

In [18]:
data1_raw = pd.read_csv('./dataset/한국음식이미지 - merge.csv')
data1_raw = data1_raw[['대분류','소분류','메뉴명']]
data2_raw = pd.read_csv('./dataset/kfpi_data.csv')

In [19]:
data1_raw.head()

  대분류    소분류    메뉴명
0  구이   갈비구이  소갈비구이
1  구이   갈치구이   갈치구이
2  구이  고등어구이  고등어구이
3  구이   곱창구이   곱창구이
4  구이    닭갈비    닭갈비

In [20]:
data2_raw.head()

      코드     메뉴명   분량                                                 재료
0  56756      흰밥  4인분                          멥쌀 2컵(450g)  물 2½컵(625ml)
1  56767     오곡밥  4인분  멥쌀 2컵(450g)  찹쌀 1컵(220g)  팥 ¼컵  검은콩 ½컵  수수 ½컵 ...
2  56791     잡곡밥  4인분            멥쌀 1컵(220g)  현미 1컵  팥 60g  차조 60g  물 3컵
3  56792     보리밥  4인분                     보리 2컵(450g)  멥쌀 ½컵(110g)  물 5컵
4  56794  곤드레나물밥  4인분  멥쌀 2컵(450g)  찹쌀 ½컵(110g)  마른 곤드레나물 60g(불린 후 30...

In [21]:
df = data1_raw.merge(data2_raw,on='메뉴명',how='left')
df = df.dropna()
df.head()

,대분류,소분류,메뉴명,코드,분량,재료
0,구이,갈비구이,소갈비구이,56920.0,4인분,갈비(두께 1cm 정도로 뼈째 두툼하게 절단) 1kg 간장 5큰술 설탕 2큰술 ...
2,구이,고등어구이,고등어구이,56908.0,4인분,고등어 2마리(손질 후 500g) 소금 2큰술 식용유 2큰술
3,구이,곱창구이,곱창구이,56909.0,4인분,돼지(또는 소) 곱창 1kg 밀가루 1컵 굵은소금 1큰술 식용유 적당량 감자...
4,구이,닭갈비,닭갈비,56916.0,4인분,닭다리 살 480g 떡볶이 떡 120g 고구마 90g 양배추 잎 4장 당근 ...
5,구이,더덕구이,더덕구이,56926.0,4인분,더덕 480g 통깨 1큰술 식용유 ½컵 간장 1큰술 참기름 2큰술 간장 1큰술...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92 entries, 0 to 147
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대분류     92 non-null     object
 1   소분류     92 non-null     object
 2   메뉴명     92 non-null     object
 3   코드      92 non-null     float64
 4   분량      92 non-null     object
 5   재료      92 non-null     object
dtypes: float64(1), object(5)
memory usage: 5.0+ KB

In [23]:
df.to_csv('./dataset/추천용데이터셋.csv', index=False)