## 최종 작성한 코드맵 데이터 체크
- 농촌진흥청, 한식진흥원, 분류, 추천데이터

In [2]:
import pandas as pd
import json

In [5]:
with open('./db/json/food_code_map.json','r') as f:
    map = json.load(f)
map[0]

{'code': 'D082010',
 'name': '소갈비구이',
 'kfood_code': '56920',
 'kfood_name': '소갈비구이',
 'image_type': '구이',
 'image_name': '갈비구이',
 'similarity': ['D072007', 'D072006', 'D072010', 'D082023', 'D072011']}

In [6]:
df = pd.DataFrame(map)
df.head(2)

,code,name,kfood_code,kfood_name,image_type,image_name,similarity
0,D082010,소갈비구이,56920,소갈비구이,구이,갈비구이,"[D072007, D072006, D072010, D082023, D072011]"
1,D081003,갈치구이,0,,구이,갈치구이,"[D121002, D071003, D061002, D111002, D061062]"

In [11]:
name = '무생채'
similarity = df[df.kfood_name == name].similarity.values.tolist()[0]
similarity

['D132101', 'D132011', 'D132081', 'D132077', 'D292004']

In [16]:
df[df.code == similarity[4]]

Empty DataFrame
Columns: [code, name, kfood_code, kfood_name, image_type, image_name, similarity]
Index: []